<main class="page-content dashboard">

    <section class="main-section">
        <h1 id="username">Hello _username_</h1>
        <p>Here you can add a talk, edit your talks, and view bookmarked talks.</p>
    </section>

    <section class="main-section" id="add-talk">
        <h2>Add Talk +</h2>
        <form class="form main-form" id="add-talk-form" method="/post" action="/addtalk">

            <label for="subject">Subject</label>
            <input id="subject" class="text-input" type="text" name="subject" value="" placeholder="Enter talk subject..."
                autocomplete="off" pattern="[a-zA-Z0-9\s.]{3,40}" required/>

            <label for="description">Description</label>
            <textarea id="description" class="text-input" name="description"></textarea>
            
            <label for="day">Day</label>
            <input id="day" class="text-input" type="date" name="day" required>

            <label for="time">Time</label>
            <input id="time" class="text-input" type="time" name="time" min="10:00" max="18:00" required>

            <label for="languages">Languages</label>
            <p>Select any languages that are covered by this talk</p>
            <div class="row checkbox-row">
                {{!-- addone helper for index - previously in value? {{@key}} --}}
                {{#each languages}}
                <label class="checkbox-label">{{this}}
                    <input id="{{this}}" class="checkbox-input {{this}}" type="checkbox" name="{{this}}" value="">
                    <span class="checkmark"></span>
                </label>
                {{/each}}
            </div>

            <input type="submit" class="button-submit" value="Add Talk" />

            <p id="error-message"></p>
        </form>

    </section>
    <section class="main-section" id="your-talks">
        <h3>Your Talks</h3>
        <p id="success-message"></p>
        {{!-- <button class="button-input has-icon" id="talk-btn"><a href="/#">Your Talks <span class="button-icon">v</span></a></button> --}}
        <ul class="talks-list"></ul>

    </section>
    <section class="main-section" id="bookmarked-talks">
        <h3>Bookmarked Talks</h3>
    </section>
</main>
<audio class="thunder-success" src="sounds/thunder_sound.mp3"></audio>
<script src="js/dom-helpers.js"></script>
<script src="js/dashboard.js"></script>