<main class="page-content view-talks">
    
    <section class="main-section">
        <h1>Upcoming Talks</h1>
        <p>⚡ Upcoming Lightning Talks with FAC 15 ⚡</p>
        <form class="form search-form" method="/post" action="search-talks">
            <div class="column">
                <label for="search" class="hidden">Search</label>
                <input id="search" class="text-input" type="text" name="search" value="" placeholder="Subject, Speaker, or Tag" autocomplete="off" pattern="[a-zA-Z0-9'\s]{2,40}"/>
                <input type="submit" class="button-submit" value="Search" />
            </div>
            <div class="column">
                <label for="sort" class="hidden">Sort Talks by Date</label>
                <div class="row">
                    <button id="history" class="button-input history"><a href="/search-talks">Past Talks <span class="button-icon">←</span></a></button>
                    <button id="date-sort" class="button-input date-sort"><a href="/search-talks">Sort by Date <span class="button-icon">↓</span></a></button>
                </div>
            </div>
        </form>
    </section>

    <section class="main-section">

        <ul class="talks-list">
            <!--
                use a partial for talks list, and pass in different data
                - here, we are displaying all talks
                - on dashboard, display talks by user
            -->
            {{#each talks}}
            <li class="talk-event">
                <h3 class="talk-subject">{{subject}}</h3>
                <article class="talk-meta">
                    <article class="talk-details">
                        <p class="speaker">{{username}} <span>a.k.a. {{name}}</span></p>
                        <p class="date-time">{{dateFromStamp datetime}}<span>@ {{timeFromStamp datetime}}</span></p>
                        <!-- bookmark button -->
                    </article>
                    <article class="talk-tags">
                        <!-- loop through an array of languages and use a helper -->
                        {{#if html}}<span class="tag html">html</span>{{/if}}
                        {{#if css}}<span class="tag css">css</span>{{/if}}
                        {{#if js}}<span class="tag js">js</span>{{/if}}
                        {{#if sql}}<span class="tag sql">sql</span>{{/if}}
                        {{#if node}}<span class="tag node">node</span>{{/if}}
                    </article>
                </article>
            </li>
            {{/each}}


            {{!-- {{#each talks}}
            <li class="talk-event">
                <h3 class="subject">{{name}}</h3>
                <article class="bio">{{bio}}</article>
                <article class="skills">
                    <span>Skills:</span>
                    {{#each ../languages}}
                    <div class="{{lang}}">
                        <span>{{uppercase lang}} level:</span>
                        <div class="{{barchart ../this lang}}"></div>
                    </div>
                    {{/each}}
                </article>

            </li>
            {{/each}} --}}
            <!-- 
            - use the lookup helper to search one object while using a value from another, e.g. users[lang]
            https://stackoverflow.com/questions/29829723/example-of-using-handlebars-lookup-helper
            - combined the lookup helper into the barchart function
            -->
        </ul>

    </section>

</main>
<script src="js/dom-helpers.js"></script>
<script src="js/search-talks.js"></script>